body.main-warna-dasar {
  background-color: #e9edc9;
}
.container {
  max-width: 880px;
}
.card,
.main-card ul li,
section#section-empat li,
section#section-lima ul li,
section#section-enam table {
  background-color: #fefae0;
}
div.card-footer a {
  color: #d4a373;
  text-decoration: none;
  margin-right: 40px;
}
#section-satu img {
  width: 30%;
}
section#main-kolom-tiga p {
  font-size: 12px;
  color: #d4a373;
}
section#main-kolom-tiga i,
section#section-dua i,
section#section-empat i.main-color-icon,
section#section-lima i.main-color-icon {
  color: #d4a373;
}
section#section-empat a,
section#section-lima a,
section#section-enam a {
  padding-bottom: 5px;
  font-size: 9px;
}
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* section#section-lima a {
  margin-top: auto;
} */
section#section-lima span {
  margin-right: 12px;
}
section#section-lima {
  color: #d4a373;
}
/* section#section-enam thead {
  background-color: #e9edc9;
} */
.img-main:hover,
.img-main:focus {
  filter: invert(27%) sepia(51%) saturate(9);
}
ul.main-print li a {
  text-decoration: none;
  border-style: solid;
  border-color: #a3b18a;
  padding: 2px 30px 2px;
  border-radius: 6px;
  text-decoration: none;
  background-color: #a3b18a;
  color: green;
}
ul.main-print li a:link {
  color: green;
}
/* ul.main-print li a:visited {
  color: white;
} */
ul.main-print li a:hover {
  color: greenyellow;
  border-color: greenyellow;
}
ul.main-print li a:active {
  color: #fefae0;
  border-color: #fefae0;
}
ul.main-print li {
  list-style: none;
  text-align: center;
}
ul.main-print {
  display: grid;
  grid-template-columns: auto auto;
  margin: 2px 130px 2px;
}

@media screen and (max-width: 412px) {
  ul.main-print {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1px;
    margin: 2px 1px 2px;
  }
  ul.main-print li a {
    /* padding: 2px 2px 2px; */
    /* color: rebeccapurple; */
    padding: 2px 1px 2px;
  }
}
